In [45]:
# Importing libareries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn import preprocessing, svm
from sklearn.metrics import mean_squared_log_error
import lightgbm as lgb
from math import sqrt 
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

In [46]:
# importing data
from google.colab import files
uploaded = files.upload()

Saving Bias_correction_ucl.csv to Bias_correction_ucl (1).csv

In [47]:
# Read the data
df = pd.read_csv('Bias_correction_ucl.csv')
display(df.head())
display(df.shape)

   station        Date  Present_Tmax  ...  Solar radiation  Next_Tmax  Next_Tmin
0      1.0  2013-06-30          28.7  ...      5992.895996       29.1       21.2
1      2.0  2013-06-30          31.9  ...      5869.312500       30.5       22.5
2      3.0  2013-06-30          31.6  ...      5863.555664       31.1       23.9
3      4.0  2013-06-30          32.0  ...      5856.964844       31.7       24.3
4      5.0  2013-06-30          31.4  ...      5859.552246       31.2       22.5

[5 rows x 25 columns]

(7752, 25)

In [48]:
# Check the missing values
df.isnull().sum()

station              2
Date                 2
Present_Tmax        70
Present_Tmin        70
LDAPS_RHmin         75
LDAPS_RHmax         75
LDAPS_Tmax_lapse    75
LDAPS_Tmin_lapse    75
LDAPS_WS            75
LDAPS_LH            75
LDAPS_CC1           75
LDAPS_CC2           75
LDAPS_CC3           75
LDAPS_CC4           75
LDAPS_PPT1          75
LDAPS_PPT2          75
LDAPS_PPT3          75
LDAPS_PPT4          75
lat                  0
lon                  0
DEM                  0
Slope                0
Solar radiation      0
Next_Tmax           27
Next_Tmin           27
dtype: int64

In [49]:
# Remove missing vaules
df = df.dropna(how='any')

In [50]:
# Check the missing values again after treating 
df.isnull().sum()

station             0
Date                0
Present_Tmax        0
Present_Tmin        0
LDAPS_RHmin         0
LDAPS_RHmax         0
LDAPS_Tmax_lapse    0
LDAPS_Tmin_lapse    0
LDAPS_WS            0
LDAPS_LH            0
LDAPS_CC1           0
LDAPS_CC2           0
LDAPS_CC3           0
LDAPS_CC4           0
LDAPS_PPT1          0
LDAPS_PPT2          0
LDAPS_PPT3          0
LDAPS_PPT4          0
lat                 0
lon                 0
DEM                 0
Slope               0
Solar radiation     0
Next_Tmax           0
Next_Tmin           0
dtype: int64

'No more missing values are present in dataset '

In [51]:
# Check the skewness 
df.skew()

station            -0.004178
Present_Tmax       -0.257069
Present_Tmin       -0.353822
LDAPS_RHmin         0.301396
LDAPS_RHmax        -0.845264
LDAPS_Tmax_lapse   -0.222349
LDAPS_Tmin_lapse   -0.574035
LDAPS_WS            1.553926
LDAPS_LH            0.662971
LDAPS_CC1           0.456716
LDAPS_CC2           0.473929
LDAPS_CC3           0.639649
LDAPS_CC4           0.663815
LDAPS_PPT1          5.305906
LDAPS_PPT2          5.710360
LDAPS_PPT3          6.356670
LDAPS_PPT4          6.681256
lat                 0.085377
lon                -0.289048
DEM                 1.721617
Slope               1.559050
Solar radiation    -0.524325
Next_Tmax          -0.334842
Next_Tmin          -0.393662
dtype: float64

In [52]:
# Treating skewnness
skew = ('LDAPS_CC3','LDAPS_CC4','LDAPS_PPT1','LDAPS_PPT2','LDAPS_PPT3','LDAPS_PPT4')
for col in skew:
    if df.skew().loc[col]>0.55:
        df[col] = np.log1p(df[col])

In [53]:
df.skew()

station            -0.004178
Present_Tmax       -0.257069
Present_Tmin       -0.353822
LDAPS_RHmin         0.301396
LDAPS_RHmax        -0.845264
LDAPS_Tmax_lapse   -0.222349
LDAPS_Tmin_lapse   -0.574035
LDAPS_WS            1.553926
LDAPS_LH            0.662971
LDAPS_CC1           0.456716
LDAPS_CC2           0.473929
LDAPS_CC3           0.388007
LDAPS_CC4           0.441501
LDAPS_PPT1          2.742772
LDAPS_PPT2          3.176107
LDAPS_PPT3          3.998494
LDAPS_PPT4          4.196452
lat                 0.085377
lon                -0.289048
DEM                 1.721617
Slope               1.559050
Solar radiation    -0.524325
Next_Tmax          -0.334842
Next_Tmin          -0.393662
dtype: float64

In [54]:
# Summary statistics
df.describe()

           station  Present_Tmax  ...    Next_Tmax    Next_Tmin
count  7588.000000   7588.000000  ...  7588.000000  7588.000000
mean     13.014101     29.748366  ...    30.241526    22.910820
std       7.217858      2.967401  ...     3.111807     2.482256
min       1.000000     20.000000  ...    17.400000    11.300000
25%       7.000000     27.800000  ...    28.200000    21.300000
50%      13.000000     29.900000  ...    30.400000    23.100000
75%      19.000000     32.000000  ...    32.600000    24.600000
max      25.000000     37.600000  ...    38.900000    29.800000

[8 rows x 24 columns]

In [55]:
# Check the info
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7588 entries, 0 to 7749
Data columns (total 25 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   station           7588 non-null   float64
 1   Date              7588 non-null   object
 2   Present_Tmax      7588 non-null   float64
 3   Present_Tmin      7588 non-null   float64
 4   LDAPS_RHmin       7588 non-null   float64
 5   LDAPS_RHmax       7588 non-null   float64
 6   LDAPS_Tmax_lapse  7588 non-null   float64
 7   LDAPS_Tmin_lapse  7588 non-null   float64
 8   LDAPS_WS          7588 non-null   float64
 9   LDAPS_LH          7588 non-null   float64
 10  LDAPS_CC1         7588 non-null   float64
 11  LDAPS_CC2         7588 non-null   float64
 12  LDAPS_CC3         7588 non-null   float64
 13  LDAPS_CC4         7588 non-null   float64
 14  LDAPS_PPT1        7588 non-null   float64
 15  LDAPS_PPT2        7588 non-null   float64
 16  LDAPS_PPT3        7588 non-null   float64
 17  LDAPS_PPT4        7588 non-null   float64
 18  lat               7588 non-null   float64
 19  lon               7588 non-null   float64
 20  DEM               7588 non-null   float64
 21  Slope             7588 non-null   float64
 22  Solar radiation   7588 non-null   float64
 23  Next_Tmax         7588 non-null   float64
 24  Next_Tmin         7588 non-null   float64
dtypes: float64(24), object(1)
memory usage: 1.5+ MB

In [56]:
df = df.drop(columns=['Date'])
df

      station  Present_Tmax  ...  Next_Tmax  Next_Tmin
0         1.0          28.7  ...       29.1       21.2
1         2.0          31.9  ...       30.5       22.5
2         3.0          31.6  ...       31.1       23.9
3         4.0          32.0  ...       31.7       24.3
4         5.0          31.4  ...       31.2       22.5
...       ...           ...  ...        ...        ...
7745     21.0          23.1  ...       27.6       17.7
7746     22.0          22.5  ...       28.0       17.1
7747     23.0          23.3  ...       28.3       18.1
7748     24.0          23.3  ...       28.6       18.8
7749     25.0          23.2  ...       27.8       17.4

[7588 rows x 24 columns]

In [57]:
# Model Prediction

Model Performance 

1.   Using Next_Tmax as predictor 
2.   Using Next_Tmin as predictor

In [58]:
# Seperating the target and input variables
X = df.drop(columns=['Next_Tmax'])
y = df[['Next_Tmax']]

In [59]:
# Scaling the imput variable
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x = sc.fit_transform(X)
x = pd.DataFrame(x,columns=X.columns)

In [60]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(X,y,random_state = 42,test_size = 0.20)

LINEAR **REGRESSION**

In [61]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn import linear_model
max_r_score = 0
for r_state in range(42,100):
    x_train,x_test,y_train,y_test = train_test_split(X,y,random_state = r_state,test_size = 0.20)
    regr = linear_model.LinearRegression()
    regr.fit(x_train,y_train)
    y_pred = regr.predict(x_test)
    r2_scr = r2_score(y_test,y_pred)
    if r2_scr>max_r_score:
        max_r_score = r2_scr
        final_r_state = r_state 
print("max r2 score coressponding to",final_r_state,"is",max_r_score)

max r2 score coressponding to 71 is 0.8182562018784314

In [62]:
#max r2 score is 71
x_train,x_test,y_train,y_test = train_test_split(X,y,random_state = 71,test_size=0.20)
lreg = linear_model.LinearRegression()
lreg.fit(x_train,y_train)
y_pred = lreg.predict(x_test)

In [63]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
print("r2 score is : ",r2_score(y_test,y_pred))
print("RMSE is :",np.sqrt(mean_squared_error(y_test,y_pred)))

r2 score is :  0.8182562018784314
RMSE is : 1.322750051714053

Usin  Next_Tmin as output predicting the model performance

In [64]:
a = df.drop(columns=['Next_Tmin'])
b = df[['Next_Tmin']]

In [65]:
# Scaling the imput variable
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
x = sc.fit_transform(a)
x = pd.DataFrame(x,columns=a.columns)

In [66]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(a,b,random_state = 42,test_size = 0.20)

In [67]:
from sklearn.metrics import mean_absolute_error
from sklearn.metrics import mean_squared_error
from sklearn.metrics import r2_score
from sklearn import linear_model
max_r_score = 0
for r_state in range(42,100):
    x_train,x_test,y_train,y_test = train_test_split(a,b,random_state = r_state,test_size = 0.20)
    regr = linear_model.LinearRegression()
    regr.fit(x_train,y_train)
    y_pred = regr.predict(x_test)
    r2_scr = r2_score(y_test,y_pred)
    if r2_scr>max_r_score:
        max_r_score = r2_scr
        final_r_state = r_state 
print("max r2 score coressponding to",final_r_state,"is",max_r_score)

max r2 score coressponding to 60 is 0.8685677693681848

In [68]:
#max r2 score is 60
x_train,x_test,y_train,y_test = train_test_split(a,b,random_state = 60,test_size=0.20)
lreg = linear_model.LinearRegression()
lreg.fit(x_train,y_train)
y_pred = lreg.predict(x_test)

In [69]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
print("r2 score is : ",r2_score(y_test,y_pred))
print("RMSE is :",np.sqrt(mean_squared_error(y_test,y_pred)))

r2 score is :  0.8685677693681848
RMSE is : 0.9248889954145619

Random Forest Regressor

In [70]:
from sklearn.ensemble import RandomForestRegressor
rf = RandomForestRegressor(n_estimators=29,  
                           criterion='mse', 
                           max_depth=58,  
                           min_samples_split=5, 
                           min_samples_leaf=2, 
                           min_weight_fraction_leaf=0.0, 
                           max_features='auto', 
                           max_leaf_nodes=None, 
                           min_impurity_decrease=0.20,  
                           bootstrap=True, 
                           oob_score=True, 
                           n_jobs=-1, 
                           random_state=11)  
rf.fit(x_train, y_train)
y_pred4 = rf.predict(x_test)
print('RMSLE:', sqrt(mean_squared_log_error(y_test, y_pred4)))
print('RMSE:', sqrt(mean_squared_error(y_test, y_pred4)))

RMSLE: 0.05675912148631076
RMSE: 1.2931154936634055

# Light Gradient Boosting Machine

In [71]:
train_data = lgb.Dataset(x_train, label=y_train)
test_data = lgb.Dataset(x_test, label=y_test)

param = {'objective': 'regression',
         'boosting': 'dart',
         'num_iterations': 152,   
         'learning_rate': 0.1,  
         'num_leaves': 52, 
         'max_depth': 28, 
         'min_data_in_leaf': 3, 
         'feature_fraction': 0.66,  
         'feature_fraction_seed': 10,
         'drop_seed': 4,
         'alpha': 100,
         'max_bin': 7,
         'min_data_in_bin': 45,   
         'metric': 'l2_root'
         }

lgbm = lgb.train(params=param,
                 verbose_eval=0,
                 train_set=train_data,
                 valid_sets=[test_data])

y_pred1 = lgbm.predict(x_test)
print('RMSLE:', sqrt(mean_squared_log_error(y_test, y_pred1)))
print('RMSE:', sqrt(mean_squared_error(y_test, y_pred1)))

RMSLE: 0.13309039046694568
RMSE: 3.0239671314303402

**Conclusion**
After observing all the models you can conlude that Linear Regression Problem is the best model for train and test.

In [72]:
# Save the model
import joblib
joblib.dump(lreg,'temperature_forecast.pkl')

['temperature_forecast.pkl']